.contributors-profile-container {
  margin-right: 10px;
  margin-bottom: 10px;
}

.contributor-profile {
  height: 32px;
  width: 32px;
  border-radius: 50px;
}

@media screen and (min-width: 768px) {
  .contributors-profile-container {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .contributor-profile {
    height: 50px;
    width: 50px;
  }
}
